<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="ARUNA" value="Server=CLICK\MSSQLEXPRESS;Database=ARUNA;User Id=sa;Password=pword;"/>
    <add key="ARUNAPATH" value="E:\A\"/>
  </appSettings>
    <connectionStrings/>

  <system.web>
    <compilation debug ="true"></compilation>
  </system.web>
</configuration>
